.card {
    width: 18rem;
    opacity: 0.5;
}
.card :hover {
    transform: scale(1.01);
    cursor: pointer;
}
.card-img-top {
    height: 285px;
}
.card-title{
    text-align: center;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.card-btn-container {
    display: flex;
    justify-content: space-evenly;
}
.card-container {
    padding-top: 5em;
    padding-bottom: 8em;
    display: flex;
    justify-content: space-evenly;
}
.card-text {
    height: 5em;
}

@media (min-height: 1080px) {
    .card-container {
        padding-top: 8em;
    }
}
@media (min-height: 1440px) {
    .card {
        width: 25rem;
        height: 40rem !important;
        font-size: 1.5em;
    }
    .card-text-contain {
        display: flex;
        margin: 0 auto;
        height: 9em;
        padding-top: 3em;
    }
}
@media (max-width: 768px) {
    .card-container {
        flex-wrap: wrap;
    }
    .card {
        margin-bottom: 2em;
    }
}