.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
}

.row-content {
    display: flex;
    max-width: 90%;
    align-items: center;
    flex-direction:row;
}
.summary-text{
    padding-top: 2em;
    opacity: 0.8;
    max-width: 45%;
}
.my-picture {
    padding-top: 5em;
    padding-bottom: 1em;
    opacity: 0.7;
    max-width: fit-content;
    margin: 0 auto;
    justify-content: center;
}
.img {
    width: 12.5rem;
    height: 20.5rem;
    border-radius: 76% 24% 100% 0% / 48% 79% 21% 52%;
    margin-left: 12em;
}
.text {
    text-align: justify;
    font-size: 1.2em;
}

.header{
    padding-top: 0.5em;
    text-align: center;
    font-size: 2em;
}
.summary {
    text-align: center;
}


@media (max-width: 991.98px) {
    .row-content {
      flex-direction: column;
      max-width: 80%;
    }
    .summary-text {
      max-width: 100%;
    }
  
    .my-picture {
      padding-top: 2em;
      margin-left: 0;
      margin: 0 auto;
    }
  
    .img {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767.98px) {
    .row-content {
      max-width: 90%;
    }
    .summary-text {
      padding-top: 1em;
      max-width: 100%;
    }
  
    .my-picture {
      padding-top: 2em;
    }
  }
  @media (min-width: 1920px) {
    .row-content {
      padding-top: 2em;
      max-width: 60%;
    }
    .header {
      padding-top: 2em !important ;
    }
    .text {
      font-size: 1.4em;
    }
  }
  @media (min-width: 2560px) {
    .row-content {
      padding-top: 3em;
      font-size: 1.3em;
    }
    .header {
      font-size: 3em !important;
    }
    .img {
      width: 15.5rem;
      height: 26.5rem;
    }
  }
