.navbar {
    font-size: 1.2rem;
}
.nav-link {
    color: white !important;
}
.me-auto {
    width: 25%;
    justify-content: space-evenly;
    margin: auto;
}
.me-auto :hover {
    text-decoration: underline rgb(230, 88, 6) solid 3px;
    text-underline-offset: 1rem;
}
@media (max-width: 500px) {
    .me-auto  {
        width: 100%;
        justify-content: center;
    }
}
@media (max-width: 1366px) and (min-width: 501px) {
    .me-auto {
        width: 50%;
    }
}




