.footer-container {
 max-width: 100%;
 margin-top: auto;
}
.icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.fa {
  font-size: 45px;
  height: 15px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  color: white;
}
.fa-github {
  color: white;
}
