.main {
  background-size: cover;
  background-position: center;
  color: antiquewhite;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}