.skills-container {
  padding-top: 10em;
  max-width: 1920px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 auto;
  
}
.headers {
  text-align: center;
  padding-bottom: 0.3em;
  color: rgb(230, 88, 6);

}
.icons-column {
  margin: 0 auto;
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.1em;
}
.icons-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.soft-skills, .education {
  padding-top: 2em;
  color: white;
  margin: 0 auto;
}
ul li:before {
  content: '\2713';
  display: inline-block;
  color: rgb(230, 88, 6); 
  padding: 0 6px 0 0;
}

ul li {
  list-style-type: none;
  font-size: 1.5em;
}

@media (max-width: 500px) {
  .skills-container {
    max-width: 100%;
    padding-top: 1em;
    height: fit-content;
    flex-wrap: wrap;
  }
  .icons-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tech-stack-icons {
    width: 90px;
  }
  .icons-text {
    font-size: 0.9em;
 }
 .education {
  padding-bottom: 1em;
 }
 .soft-skills, .education {
  font-size: 0.9em;
 }
}

@media (max-width: 1366px) {
  .my-skills-container {
    max-width: 100%;
  }
  .skills-container {
    max-width: 100%;
    height: fit-content;
    padding-top: 2em;
  }
}
@media (max-height: 1080px) {
  .skills-container {
    padding-top: 2em;
    height: fit-content;
  }
}
