.tab-container {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 2em;
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
}
.mb-3 {
    justify-content:space-evenly;
}

.nav-link {
    color:antiquewhite !important;
}

.nav-tabs .nav-link.active {
    color: black !important;
}

/* Hard Skills styling */
.skills-container {
    display: flex;
  }

.skills-column {
    flex: 1;
    width: 50%;
    margin-left: 2em;
    font-size: 1em;
  }
  .icons-column {
    width: 40%;
    margin-top: 2em;
    align-items: center;
    opacity: 0.7;
  }
  .tab-section-git {
    margin-top: 1em;
    text-shadow:
    0.01em 0 black,
    0 0.07em black,
    -0.1em 0 black,
    0 -0.07em black;
  }
  .tech-stack-icons {
    width: 80px;
  }
  /* Soft Skills styling */
  .soft-skills {
    margin-left: 2em;
  }

  /* Education Skills styling */
  .education-header {
    text-align: center;
  }
  .education-header-p {
    margin-left: 2em;
  }
  .education-list {
    margin-left: 1em;
  }

@media (min-width: 1920px) {
    .tab-container {
        padding-top: 3em;
        font-size: 1.3em;
    }
}
@media (min-width: 2560px) {
    .tab-container {
        padding-top: 5em;
        font-size: 1.7em;
    }
    .tab-section,
    .tab-section-git,
    .soft-skills h4,
    .education-header{
        font-size: 1.7em;
    }
    .education-header-p {
        font-size: 1.4em;
    }
    .education-list {
        font-size: 1em;
    }
    .tech-stack-icons {
        width: 120px;
    }
}
@media (max-width: 768px) {
    .tab-container {
        max-width: 100%;
    }
    .tech-stack-icons {
        width: 70px;
    }
    .icons-column {
        opacity: 1;
    }
}
  
  
